<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.power.job.mapper.JobParamsMapper">
    <resultMap id="baseResult" type="com.power.job.entity.JobParams">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="jobId" column="job_id" jdbcType="BIGINT"/>
        <result property="key" column="job_key" jdbcType="VARCHAR"/>
        <result property="value" column="job_value" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
